.news-one-content

  .breadcrumbs
    font-size: 12px
    +medium
    color: $navy
    span
      color: $medium-grey

.new-container
  position: relative
  margin-top: 20px
  .photo
    position: relative
    height: 300px
  .date
    position: relative
    color: $medium-grey
    padding-left: 25px
    svg
      position: absolute
      fill: $medium-grey
      top: 0
      left: 0
      width: 16px
      height: 16px
  .new-name
    font-size: 22px
    +medium
    color: $blue
    margin: 10px 0 30px
  .main-text
    color: $table-header
    margin: 30px 0
  .tags-container
    float: left
  .rules-of-quote
    float: right
    font-size: 12px
    color: $blue
    margin-top: 20px