.page-about-us-content

  .main-title
    color: $dark-navy
    text-align: center
    +bold
    font-size: 20px
    text-transform: uppercase

  .name
    +medium
    color: $dark-navy

  .top-text
    max-width: 600px
    margin: 0 auto
    padding-top: 100px
    text-align: center
    @media #{$small-only}
      max-width: 300px
    svg
      width: 225px
      height: 26px
      .logo-name
        fill: $navy
    p
      margin-top: 20px
      color: $navy
      font-size: 18px
      line-height: 26px

  .our-goals-container
    .grid-block
      width: calc(50% - 20px)
      text-align: center
      padding: 30px
      +transition(0.2s)
      height: 200px
      @media #{$small-only}
        width: calc(100% - 10px)
    .title
      color: $dark-navy
      +bold
      text-transform: uppercase
    .line-separator
      width: 100px
      margin: 20px auto
    .regular
      color: $navy

  .our-services
    padding: 30px
    margin-top: 20px
    .grid-container
      margin: 30px 0
    .grid-block
      width: calc(33% - 20px)
      text-align: center
      height: 200px
      @media #{$small-only}
        width: calc(50% - 10px)
      svg
        width: 80px
        height: 80px
      .smaller
        color: $navy
        max-width: 200px
        margin: 10px auto
  
  .our-partners
    margin-top: 80px
    .grid-container
      margin-top: 30px
      margin-bottom: 30px
    .grid-block
      position: relative
      width: calc(25% - 20px)
      text-align: center
      &:after
        content: ''
        display: block
        padding-bottom: 100%
      @media #{$small-only}
        width: calc(50% - 10px)
      svg
        position: absolute
        left: 50%
        top: 40%
        +translate(-50%,-50%)
        width: 50%
        height: 50%
      .name
        position: absolute
        bottom: 10%
        width: 100%
        text-align: center

  .join-us
    display: flex
    .smaller
      color: $navy
      margin-top: 10px
    .photo
      float: left
      width: 40%
      position: relative
      &:after
        content: ''
        display: block
        padding-bottom: 100%
    .indent-container
      position: relative
      float: left
      width: 60%
      padding: 40px
    .button
      float: none
      position: absolute
      left: 40px
      bottom: 40px
      @media #{$small-only}
        left: 10px
        bottom: 10px