.page-main-content

  .advertisement
    margin-top: 40px
    .edvertisement-subtitle
      margin-top: 10px
      float: right
      font-size: 12px
      font-style: italic
      p
        color: $light-blue
        display: inline-block
      a
        color: $blue
        text-decoration: underline
        display: inline-block

  .import-export
    .currencies-container
      float: right
      margin-top: 20px
      .currency
        display: inline-block
        font-size: 14px
        color: $grey
        +medium
        cursor: pointer
        &.active
          +bold
          color: $blue
    .diagrams
      position: relative
      margin-top: 10px
      .diagram
        position: relative
