.page-register-content
  padding: 40px
  @media #{$small-only}
    padding: 20px

  .smaller-medium
    color: $blue

  .grid-container
    margin-bottom: 30px
  .inputs-container
    .input-field
      padding: 20px 0
      .icon
        svg
          left: initial
          right: 0
  .grid-block
    &:first-child
      .input-field
        @media #{$medium-up}
          margin-right: 20px
    &:nth-child(2)
      .input-field
        @media #{$medium-up}
          margin-left: 20px
    &:nth-child(3)
      width: calc(100% - 20px)
      margin-top: -10px

  #google-map
    height: 300px
    @media #{$small-only}
      height: 200px

  .field-to-fill
    color: $medium-grey
    font-size: 11px
    font-style: italic
    float: right
    margin-top: 20px
  .button
    margin-top: 20px

.balance-container
  .small-title
    margin-bottom: 10px
  .balance
    font-size: 28px
    color: $table-header
    +bold
    margin-bottom: 10px
    span
      color: $blue
  .button
    float: none

.account-navigation-container
  .small-title
    margin-bottom: 10px
  .smaller-medium
    color: $dark-grey
    position: relative
    padding: 10px 0 10px 35px
    cursor: pointer
    +transition(0.1s)
    span
      position: absolute
      left: 0
      top: 5px
      svg
        fill: $dark-grey
        width: 24px
        height: 24px
        +transition(0.1s)
    &:hover
      color: $blue
      span svg
        fill: $blue