table.analytics-table
  width: 100%
  margin-top: 30px
  counter-reset: rowNumber
  
  tr
    border-bottom: 1px solid $light-grey
  .product-row
    counter-increment: rowNumber
    &:hover
      background-color: $blue
      td
        color: white !important
        svg
          fill: white !important
    td:first-child
      &:after
        content: counter(rowNumber)
  .growth, .decrease, .equal
    svg
      position: relative
      width: 20px
      height: 20px
      top: 5px
      display: none
  .growth
    color: $green
    svg
      &:first-child
        display: inline-block
        +rotate(-90deg)
        fill: $green
  .decrease
    color: $red
    svg
      &:first-child
        display: inline-block
        +rotate(90deg)
        fill: $red
  .equal
    color: $dark-grey
    svg
      &:nth-child(n+2)
        display: inline-block
        fill: $dark-grey
  th
    @extend .smaller-bold
    color: white
    background-color: $table-header
    text-transform: uppercase
    padding: 15px 0
    padding-left: 20px
    span
      font-size: 12px
      opacity: 0.5
      font-weight: 100
  th, td
    text-align: left
  td
    padding: 10px 0
    color: $navy
    font-size: 14px
    padding-left: 20px
  tr.subheader-tr
    background-color: $grey
    @media #{$small-only}
      display: none
  td.subheader-cell
    // background-color: $grey
    color: $navy
    line-height: 1
    span
      color: $light-blue
      font-size: 12px
      display: block

  @media #{$small-only}

    th
      display: none
    tr
      display: block
      padding: 15px 20px 20px
      border-bottom: 0
      &:first-child
        display: none
      &:nth-child(odd)
        background-color: $light-grey
    td
      display: block
      text-align: right
      padding: 5px 0
      font-size: 12px
      &:last-child
        border-bottom: 0
      &:before
        content: attr(data-label)": "
        float: left
        text-transform: uppercase
        font-weight: bold
  .product-category
    padding: 0
    td
      padding: 10px 20px
      text-align: left
      background-color: $grey
      font-size: 14px
      text-transform: uppercase
      +medium
      color: $dark-navy
      padding: 10px 20px
      &:before
        all: initial
    @media #{$small-only}
      td
        color: $blue